.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0;
    background-color: #26A662;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}
.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 37px;
}
.btn-floating:hover {
    background-color: #26a69a;
}
.btn-floating:before {
    border-radius: 0;
}
.btn-floating.btn-large {
    width: 55.5px;
    height: 55.5px;
}
.btn-floating.btn-large i {
    line-height: 55.5px;
}
button.btn-floating {
    border: none;
}



